<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>
             <i class="fa fa-envelope"></i>
             <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
					<li>
						<a href="http://orcid.org">
							<img src="http://about.orcid.org/sites/default/files/images/orcid_16x16(1).gif" style="width: 15px; height: 15px; ">
						</a>
						<a href="http://orcid.org/0000-0002-7825-2692"><span class="usename">orcid.org/0000-0002-7825-2692</span></a>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
              <i class="fa fa-github"></i>
              <a href="https://github.com/{{ site.github_username }}"><span class="username">{{ site.github_username }}</span></a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <i class="fa fa-twitter"></i>
            <a href="https://twitter.com/{{ site.twitter_username }}"><span class="username">{{ site.twitter_username }}</span></a>
          </li>
          {% endif %}
          <li>
            <i class="fa fa-linkedin"></i>
            <a href="https://ca.linkedin.com/in/fongchunchan"><span class="username">fongchunchan</span></a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
